@media screen and (min-width:800px){
  #title h1{
    font-size:75px;
  }
}
>700px
<701px

@media screen and (min-width:801px){
  #title h1{
    font-size:30px;
  }
}
#navBar {
  height:100px;
}
.options{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
button{
  font-family:"Poppins";
  font-size: 20px;
  padding: 5px;
  color: #FFFFFF;
  width: 175px;
  height: 175px;
  background: #DC0073;
  border-color: #FFFFFF;
  border-width: thick;
  border-radius: 50%;
}

body{
  background-image:url("https://images.unsplash.com/photo-1635412139177-f2ad052b3cba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
h1{
  font-family: "Poppins";
  color: #DC0073;
}
h2{
  font-size: 45px;
  font-family: "Poppins";
  color: #DC0073;
  margin-left: 40px;
}
h3{
  font-size: 40px;
  font-family: "Poppins";
  color: #DC0073;
  font-weight: bold;
}
h4{
  font-size: 35px;
  font-family: "Poppins";
  color: #DC0073;

}

p{
  font-size: 30px;
  font-family: "Playfair Display";
  color: #DD6E42;
}


#title{
  height: 60vh;
  margin-bottom: 5px;


}
#title h1{
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 5px;
  z-index:1;
  position: absolute;
  font-weight: 600;
  background-color: #FFFBFF;
}
