
h1{
  font-family: "Bebas Neue";
  color: #000000;
}
h2{
  font-family: "Bebas Neue";
  color: #000000;
}
h3{
  font-family: "Bebas Neue";
  color: #000000;
}
h4{
  font-family: "Bebas Neue";
  color: #000000;
}
h5{
  font-family: "Bebas Neue";
  color: #000000;
}
h6{
  font-family: "Bebas Neue";
  color: #000000;
}

body{
  font-family: "Playfair Display";
  color: #000000;
}

nav{
  display:flex;
  width: 50vw;
  justify-content: right;
  flex-wrap: wrap;
  margin: 30px auto 30px calc(100% - 50vw);
}

nav a{
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 300;
  margin-left: 50px;
  text-decoration: none;
  color: #1f1b1b;
}
nav a:hover{
  text-decoration:underline;
}

img{
  width: 30vw;
}
button{
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

#photoText{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 50px;
  margin-right: 50px;

}

#resume{
  text-align:center;
}

#me{

}
.cardLay{
  display:flex;
  gap:10vw;
  flex-wrap:wrap;
  text-align: center;
  margin-left: 3vw;

}
.cards{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}
.cardText{
  padding: 2px 16px;
}
/* <!-- Reference: https://www.w3schools.com/howto/howto_css_cards.asp --> */
.firstPage{
  margin-left: 60px;
}

.zoomPic{
  width: 30vw;
  height:auto;
  transition: ease-in-out 0.3s;
}
.zoomPic:hover{
  transform: scale(1.2);
}
/* reference: https://code-boxx.com/image-zoom-css-javascript/ */
.icons{
  /* display:flex;
  justify-content: flex-start;
  flex-wrap:nowrap;
  text-align: right;
  flex-direction: row; */
  width: 2vw;
  height: 2vw;
  margin-top: 1vw;
}
.foot{
  display:flex;
  justify-content: flex-start;
  flex-wrap:nowrap;
  text-align: right;
  flex-direction: row;
  gap: 1vw;
}
.icons img{
  width: 2vw;
  height: 2vw;
  text-align: center;
}
.icons a{
  width: 2vw;
  height: 2vw;
  text-align: center;
}
